@import '../../../styles/variables';

.flowRow {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;

  @media (max-width: $breakpoint-tablet) {
    flex-direction: column;
    gap: 8px;
  }
}

.withBackground {
  background-color: #151515;
  border-radius: 12px;
  padding: 20px;
  
  @media (max-width: $breakpoint-tablet) {
    padding: 16px;
  }
}



