@import '../../../styles/variables';

.flowGroup {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;
  min-width: 0;

  @media (max-width: $breakpoint-tablet) {
    width: 100%;
    gap: 8px;
  }
}

.darkBackground {
  background-color: #1A1F23;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.05);
}



