@import '../../../styles/variables';

.icon {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  vertical-align: middle;

  &--16 {
    width: 16px;
    height: 16px;
  }

  &--20 {
    width: 20px;
    height: 20px;
  }

  &--24 {
    width: 24px;
    height: 24px;
  }

  &--40 {
    width: 40px;
    height: 40px;
  }

  &--48 {
    width: 48px;
    height: 48px;
  }

  // Clickable icons
  &[role='button'] {
    cursor: pointer;
    transition: opacity $transition-fast;

    &:hover {
      opacity: 0.7;
    }

    &:focus {
      outline: 2px solid $primary-50;
      outline-offset: 2px;
      border-radius: 4px;
    }
  }
}
