@import '../../../styles/variables';

.arrowContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.direction-right {
  height: 0;
}

.direction-down {
  width: 100%;
  flex-direction: column;
}

.doubleLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  
  .direction-down & {
    flex-direction: column;
  }
}

.line {
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.3);
  
  .direction-right & {
    width: 100%;
    height: 1px;
  }
  
  .direction-down & {
    width: 1px;
    height: 100%;
  }
}

.dots {
  display: flex;
  gap: 4px;
  
  .direction-right & {
    flex-direction: row;
  }
  
  .direction-down & {
    flex-direction: column;
  }
}

.dot {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  flex-shrink: 0;
}



